[submodule "themes/ramium"]
	path = themes/ramium
	url = https://github.com/rafed/ramium.git
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
