
.DS_Store
assets/.DS_Store_
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
/.idea/.gitignore
/.idea/cloudsdocker.github.io.iml
/.idea/jpa-buddy.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
.idea/.gitignore
.idea/cloudsdocker.github.io.iml
.idea/git_toolbox_prj.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.env
video_gen/video_output/*
video_gen/video_hq_output/*
node_modules/*
.idea/*
assets/images/Skin_Specialist_Ref_letter.jpg
.DS_Store
assets/.DS_Store
.DS_Store
.idea/misc.xml
.DS_Store